<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Formulario</title>
</head>
<body>
	<div class="erros">
		<%if(errosValidacao){%>
		<ul>
			<%for(var i = 0; i < errosValidacao.length; i++){%>
			<li><%=errosValidacao[i].param%> - <%=errosValidacao[i].msg%></li>
			<%}%>
		</ul>
		<%}%>
	</div>
	<form action="/alunos" method="POST">
		<div>
			<label for="nome">Nome</label>
			<input type="text" name="nome" placeholder="Nome do aluno">
		</div>
		<div>
			<label for="idade">Idade</label>
			<input type="text" name="idade" placeholder="Idade do aluno">
		</div>
		<div>
			<label for="serie">Série</label>
			<input type="text" name="serie" placeholder="Série do aluno">
		</div>

		<input type="submit" value="Salvar">
	</form>
</body>
</html>